.addEditUser {
    color: black;
    height: 100vh;
    background-color: white;
    .addEditUser__title {
        margin: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form.addEditForm {
        width: 90%;
        margin: 1.5rem auto;
        display: flex;
        flex-wrap: wrap;
        p {
            margin: 1rem 1.5rem;
            min-width: 30%;

            mat-form-field {
                width: 100%;
            }
        }
    }
    .addEditForm__actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
        button:first-child {
            background-color: green;
            margin-right: 1rem;
        }
    }
    // form {
    //     width: 80%;
    //     margin: 0 auto;
    //     display: flex;
    //     flex-wrap: wrap;
    //     .form-group {
    //         width: 45%;
    //         margin-left: 5px;
    //         padding: 1rem 1.5rem;
    //         input {
    //             padding: 10px 4px;
    //             font-size: 1.6rem;
    //         }
    //         input.ng-invalid {
    //             &:focus {
    //                 border-left: 5px solid red;
    //             }
    //         }
    //         input.ng-valid {
    //             border-left: 5px solid green;
    //         }
    //         .error {
    //             color: red;
    //         }
    //         select {
    //             height: calc(4.25rem + 2px);
    //         }
    //     }
    //     .form__actions {
    //         width: 100%;
    //         display: flex;
    //         justify-content: space-between;
    //     }

    //     .example-container .mat-form-field + .mat-form-field {
    //         margin-left: 8px;
    //         font-size: 8pt;
    //         float: right;
    //         margin: 8px;
    //     }
    // }
}
