<section class="home" id="home">
    <div class="carousel">
        <div class="carousel__video">
            <video src="../../../assets/video/Typing_dark_05_Videvo.mov" autoplay="true" loop="true"></video>
        </div>
        <div class="carousel__overlay"></div>
        <div class="carousel__content">
            <h2 class="carousel__title">Khởi đầu sự nghiệp của bạn</h2>
            <p>
                Trở thành lập trình viên chuyên nghiệp tại CyberSoft!
            </p>
        </div>
    </div>
    <div class="container">
        <h2 style="color: white; justify-content: center; display: flex;" class="mt-5">Các khóa học gần đây</h2>
        <div class="coursesList">
            <ng-container class="list-group-item"
                *ngFor="let course of layDanhSachKhoaHoc| Filter: inputSearch; let i = index">
                <div *ngIf="i < 8" class="coursesItem">
                    <div class="img__container">
                        <img class="course__img" [src]="course.hinhAnh" alt="course.tenKhoaHoc" />
                    </div>
                    <h3 routerLink="/chi-tiet-khoa-hoc/{{course.maKhoaHoc}}" class="course__title">{{course.tenKhoaHoc}}
                    </h3>
                    <div class="course__views">
                        <span class="course__views--rating"><i class="fa fa-star"></i></span>
                        <span class="course__views--rating"><i class="fa fa-star"></i></span>
                        <span class="course__views--rating"><i class="fa fa-star"></i></span>
                        <span class="course__views--rating"><i class="fa fa-star"></i></span>
                        <span class="course__views--rating"><i class="fa fa-star-half-alt"></i></span>
                        4.5
                        <span class="course__views--number">({{course.luotXem}})</span>

                    </div>
                    <div class="course__register">
                        <button class="btn btn-success" (click)="registerCourse(course.maKhoaHoc)">Đăng ký</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>