* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    background-color: $color-black-0;
    // background-color: #535363;

    font-family: sans-serif;
    font-size: 62.5%;
    line-height: 1.8;
    // font-size: 62.5%; Body font-size = (62.5/100)*16 = 10px
    font-family: "Roboto", sans-serif;
    // @include styleText($color-black-0, $fs-0, $fw-normal);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
