<div class="users">
    <h2 style="text-align: center;">All users</h2>
    <h3 class="users__add"> <a routerLink="/admin/users/add">Thêm người dùng</a> </h3>
    <div *ngIf="dataSource">
        <mat-table [dataSource]="dataSource.items | userFilter: inputSearch" matSort>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

            <!-- Name Column -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên </th>
                <td mat-cell *matCellDef="let row"> {{row.hoTen}} </td>
            </ng-container>
            <ng-container matColumnDef="useraccount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tài khoản </th>
                <td mat-cell *matCellDef="let row"> {{row.taiKhoan}} </td>
            </ng-container>
            <ng-container matColumnDef="soDT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Số điện thoại </th>
                <td mat-cell *matCellDef="let row"> {{row.soDT}} </td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vai trò</th>
                <td mat-cell *matCellDef="let row"> {{row.tenLoaiNguoiDung}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Thao tác</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button class="mr-1 p-0" (click)="getUserInfo(this.row.taiKhoan)">Chi
                        tiet</button>
                    <button mat-raised-button color="primary" class="mr-1 p-0"
                        (click)="openDialog(this.row.taiKhoan)">Ghi danh</button>
                    <button mat-raised-button color="accent" class="mr-1 p-0"
                        (click)="updateUser(this.row.taiKhoan)">Chinh
                        sua</button>
                    <button mat-raised-button color="warn" class="mr-1 p-0"
                        (click)="deleteUser(this.row.taiKhoan)">Xoa</button>
                </td>
            </ng-container>
        </mat-table>
        <mat-paginator [length]="dataSource.totalCount" [pageSize]="dataSource.count"
            [pageSizeOptions]="[5, 10, 20, 30, 100]" (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>