<div class="login" id="login">
    <h1 class="login_title">Đăng nhập</h1>

    <form class="login_form">
        <div class="form-group login_form--input">
            <label htmlFor="exampleInputEmail1">Địa chỉ Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Điền email của bạn" />
            <small id="emailHelp" class="form-text text-muted">
                Chúng tôi sẽ không chia sẻ email của bạn với bất kỳ ai.
            </small>
        </div>
        <div class="form-group login_form--input">
            <label htmlFor="exampleInputPassword1">Mật khẩu</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hay nhập mật khẩu" />
        </div>
        <div class="login__form--button">
            <button type="submit" class="btn transparent">
                Đăng nhập
            </button>
        </div>
    </form>
</div>