<div class="login" id="login">
    <h1 class="login_title">Đăng nhập</h1>

    <form class="login_form" [formGroup]="formDangNhap" (ngSubmit)="dangNhap(formDangNhap)">
        <div class="form-group login_form--input">
            <label>Tài khoản</label>
            <input #taiKhoan type="text" class="form-control" placeholder="Vui lòng nhập tài khoản"
                formControlName="taiKhoan" />
        </div>
        <div class="form-group login_form--input">
            <label>Mật khẩu</label>
            <input #matkhau type="password" class="form-control" placeholder="Hay nhập mật khẩu"
                formControlName="matKhau" />
        </div>
        <div class="login__form--button">
            <button (click)="dangNhap(formDangNhap)" type="submit" class="btn transparent">
                Đăng nhập
            </button>
        </div>
    </form>
</div>