.users {
    .users__function {
        display: flex;
        justify-content: flex-start;
        background-color: white;
        align-items: center;
        .users__function--title {
            color: white;
            position: relative;
            margin: 1rem 1.5rem;
            display: inline-block;
            border-bottom: 1px dotted black;

            .users__function--title--hover {
                position: absolute;
                top: -60px;
                left: -40px;
                color: white;
                font-weight: 500;
                background-color: #36bbf8;
                width: 160px;
                height: 40px;
                line-height: 40px;
                box-shadow: 0 0 10px 5px #1029b8;
                border-radius: 3px;
                display: none;
                padding-left: 10px;
                &::after {
                    content: " ";
                    width: 20px;
                    height: 20px;
                    background-color: #36bbf8;
                    border-top: 0px solid #f5eded;
                    border-right: 1px solid #ffffff;
                    border-bottom: 1px solid #ffffff;
                    border-left: 0px solid #ffffff;
                    position: absolute;
                    top: 100%;
                    left: 25%;
                    margin-top: -10px;
                    transform: rotate(45deg);
                }
            }
            &:hover {
                .users__function--title--hover {
                    display: block;
                }
            }
        }
        .users__function--searchBox {
            position: absolute;
            display: flex;
            // top: 10.5%;
            left: 70px;
            background: #2f3640;
            height: 40px;
            border-radius: 40px;
            padding: 10px;
            &:hover {
                .search-text {
                    width: 300px;
                    padding: 0 6px;
                }
                .search-btn {
                    background-color: white;
                }
            }

            .search-text {
                border: none;
                background: none;
                outline: none;
                padding: 0;
                color: white;
                font-size: 1.6rem;
                transition: 0.4s;
                line-height: 40px;
                width: 20px;
            }
            .search-btn {
                color: #e84118;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #2f3640;
                position: absolute;
                top: 0;
                right: 0;
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 40px;
                }
            }
        }
    }

    table {
        width: 100%;

        .mat-column-index {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 5% !important;
            width: 5% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;

            word-break: break-word;

            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        .mat-column-name {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 25% !important;
            width: 25% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;

            word-break: break-word;

            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        .mat-column-useraccount {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 18% !important;
            width: 18% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;

            word-break: break-word;

            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        .mat-column-soDT {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 13% !important;
            width: 13% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;

            word-break: break-word;

            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        .mat-column-role {
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 14% !important;
            width: 14% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;

            word-break: break-word;

            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        .mat-column-action {
            position: relative;
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 25% !important;
            width: 25% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;

            word-break: break-word;

            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;

            .actions__mes1,
            .actions__mes2,
            .actions__mes3,
            .actions__mes4 {
                position: absolute;
                top: -50px;
                left: -5px;
                color: white;
                font-weight: 500;
                background-color: #3cd9e4d8;
                width: 60px;
                height: 40px;
                line-height: 40px;
                box-shadow: 0 0 10px 5px #1029b8;
                border-radius: 3px;
                display: none;
                &::after {
                    content: " ";
                    width: 20px;
                    height: 20px;
                    background-color: #3cd9e4d8;
                    border-top: 0px solid #f5eded;
                    border-right: 1px solid #ffffff;
                    border-bottom: 1px solid #ffffff;
                    border-left: 0px solid #ffffff;
                    position: absolute;
                    top: 100%;
                    left: 25%;
                    margin-top: -10px;
                    transform: rotate(45deg);
                }
            }
            .actions__mes2 {
                // background-color: #7cc2fa;
                left: 30px;
                background-color: #36bbf8;

                &::after {
                    background-color: #36bbf8;
                }
            }
            .actions__mes3 {
                left: 70px;
                background-color: #5cac6d;

                &::after {
                    background-color: #5cac6d;
                }
            }
            .actions__mes4 {
                left: 100px;
                background-color: rgb(245, 148, 124);
                &::after {
                    background-color: rgb(245, 148, 124);
                }
            }
            button {
                &:hover {
                    .actions__mes1,
                    .actions__mes2,
                    .actions__mes3,
                    .actions__mes4 {
                        display: block;
                    }
                }
            }
        }
    }
}

@include responsive("medium") {
    .users {
        app-divider {
            display: none;
        }
        .users__function {
            .users__function--title {
                .users__function--title--hover {
                    left: -20px;
                    &::after {
                        content: "";
                        left: 12%;
                    }
                }
            }
            .users__function--searchBox {
                position: absolute;
                display: flex;
                right: 5%;
                left: unset;
                background: #2f3640;
                height: 40px;
                border-radius: 40px;
                padding: 10px;
                &:hover {
                    .search-text {
                        max-width: 300px;
                    }
                }
            }
        }
        table {
            .mat-column-soDT {
                display: none;
            }
            .mat-column-role {
                display: none;
            }
        }
    }
}

@include responsive("small") {
    .users {
        app-divider {
            display: none;
        }
        .users__function {
            .users__function--title {
                .users__function--title--hover {
                    left: -20px;
                    &::after {
                        content: "";
                        left: 12%;
                    }
                }
            }
            .users__function--searchBox {
                &:hover {
                    .search-text {
                        max-width: 200px;
                    }
                }
            }
        }
        table {
            .mat-column-useraccount {
                display: none;
            }
            .mat-column-action {
                button {
                    padding: 0 !important;
                    .actions__mes1 {
                        left: -20px;
                    }
                    .actions__mes2 {
                        left: -4px;
                    }
                    .actions__mes3 {
                        left: 15px;
                    }
                    .actions__mes4 {
                        left: 35px;
                    }
                }
            }
        }
    }
}
