#admin {
    background-color: #212121;
    height: calc(100vh - 64px);
    .admin {
        .admin__body {
            .admin__body--menu {
                // border: 1px solid red;
                padding-top: 75px;
                color: white;
                ul {
                    display: flex;
                    align-content: flex-start;
                    li {
                        cursor: pointer;
                        margin: 0;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        &:hover {
                            background-color: #767676;
                        }
                    }
                    .active {
                        background-color: #767676;
                    }
                }
            }
        }
    }
}

@include responsive("medium") {
    #admin {
        .admin {
            .admin__body {
                .admin__body--menu {
                    justify-content: center;
                    padding-top: $pd-0;
                    ul {
                        justify-content: center;
                        li {
                            word-wrap: none;
                            min-width: 200px;
                        }
                    }
                }
            }
        }
    }
}
