#home {
    .carousel {
        // background-image: url(../../../assets/img/pexels-josh-sorenson-small.jpg);
        height: 50rem;
        position: relative;
        overflow: hidden;
        color: $color-white-0;
        text-align: center;

        .carousel__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            z-index: 1;
            video {
                width: 100%;
                // height: 100%;
            }
        }

        .carousel__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 2;
        }
        .carousel__content {
            position: absolute;
            top: 55%;
            left: 10%;
            min-width: 40%;
            z-index: 3;
            h2 {
                color: $color-white-0;
                font-size: $fs-5;
                font-weight: bold;
                text-transform: uppercase;
            }
            p {
                color: $color-white-0;
                font-size: $fs-2;
                font-weight: normal;
            }
            .input {
                .form-control {
                    padding: $pd-1;
                    border: none;
                    border-radius: 0;
                    font-size: $fs-2;
                    &::placeholder {
                        color: $color-gray-2;
                        font-size: $fs-2;
                        font-weight: normal;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
                // .input-group-append {
                //     width: 50px;
                //     font-size: 2rem;
                //     .input-group-text {
                //         background-color: $color-white-0;
                //         color: #ec5252;
                //         border: none;
                //         padding: 2rem;
                //         i.fa-search {
                //             font-size: 1.5rem;
                //         }
                //     }
                //     &:hover {
                //         .input-group-text {
                //             background-color: #ec5252;
                //             color: $color-white-0;
                //             cursor: pointer;
                //         }
                //     }
                // }
            }
        }
    }
    .coursesList {
        background-color: $color-white-0;
        width: 100%;
        margin: $mg-2 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .coursesItem {
            width: 200px;
            min-height: 25rem;
            margin: $mg-2;
            background-color: rgba(0, 0, 0, 0.39);
            border: 2px solid rgb(161, 101, 101);
            border-radius: 5px;
            .img__container {
                width: 100%;
                height: 15rem;
                background-color: $color-purple-1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            h3.course__title {
                color: $color-white-0;
                font-weight: 500;
                padding-left: $pd-1;
                cursor: pointer;
            }
            .course__author,
            .course__views {
                font-size: calc(1rem + 0.4vw);
                color: $color-white-0;
                padding-left: 1rem;
                .course__views--rating {
                    color: $color-yellow-2;
                }
                .course__views--number {
                    font-size: 1.4rem;
                    color: rgb(224, 218, 218);
                }
            }
            .course__register {
                display: flex;
                justify-content: flex-end;
                padding-right: 1.3rem;
                cursor: pointer;
            }
        }
    }
}

@include responsive("medium") {
    #home {
        .carousel {
            height: 35rem;
            .carousel__content {
                position: absolute;
                top: 60%;
                left: 10%;
                .carousel__title {
                    font-size: $fs-4;
                }
                p {
                    font-size: ($fs-2 - 2);
                }
            }
        }
    }
}

@include responsive("small") {
    #home {
        .carousel {
            height: 25rem;
            .carousel__content {
                position: absolute;
                top: 70%;
                left: 20%;
                .carousel__title {
                    font-size: calc(1rem + 1vw);
                    margin-bottom: 0;
                }
                p {
                    font-size: calc(1rem + 0.4vw);
                    word-wrap: none;
                }
            }
        }
        .container {
            .coursesList {
                .coursesItem {
                    width: 300px;
                    min-height: 32rem;
                    .img__container {
                        height: 20rem;
                    }
                }
            }
        }
    }
}
