#login {
    z-index: 1000 !important;
    width: 60%;
    margin: 10rem auto;
    padding: 3rem 5rem;
    background-color: $color-blue-0;
    .login_title {
        display: flex;
        justify-content: center;
        font-size: $fs-4;
        font-weight: $fw-bold-1;
    }
    .login_form {
        font-size: calc(1rem + 0.4vw);
        .login_form--input {
            input {
                padding: $pd-1 $pd-2;
                font-size: ($fs-0 + 2);
            }
        }
        .login__form--button {
            display: flex;
            justify-content: center;
            button {
                display: inline-block;
                padding: $pd-1 $pd-3;
                font-size: calc(1rem + 0.2vw);
                border: 0.2rem solid white;
                border-radius: 4rem;
                margin: 0 0.3rem;
                transition: 0.3s;
                text-transform: uppercase;
            }
            .btn.transparent {
                background-color: transparent;
                color: black;
                white-space: nowrap;
                font-size: calc(1rem + 0.2vw);
                min-width: 6rem;
                &:hover {
                    background-color: $color-white-0;
                    color: $color-blue-1;
                }
            }
        }
    }
}

@include responsive("small") {
    #login {
        width: 80%;
        margin: 10rem auto;
        padding: $pd-1 ($pd-4 + 5);
        background-color: $color-blue-0;
        .login_title {
            font-size: calc(2rem + 1vw);
        }
        .login_form {
            .login_form--input {
                input {
                    padding: $pd-1 $pd-2;
                    font-size: calc(1rem + 0.64vw);
                }
            }
        }
    }
}
