#signup {
    width: 60%;
    margin: 10rem auto;
    padding: 3rem 5rem;
    background-color: $color-blue-0;
    h1 {
        display: flex;
        justify-content: center;
        font-size: $fs-4;
        font-weight: $fw-bold-1;
    }
    .signup__form {
        font-size: calc(1rem + 0.4vw);
        .signup__form--input {
            input {
                padding: $pd-1 $pd-2;
                font-size: 1.8rem;
                color: black;
            }
        }
        .signup__form--button {
            button {
                display: inline-block;
                padding: $pd-1 $pd-3;
                font-size: calc(1rem + 0.2vw);
                border: 0.2rem solid white;
                border-radius: 4rem;
                margin: 0 0.3rem;
                transition: 0.3s;
                text-transform: uppercase;
            }
            .btn.solid {
                background-color: white;
                color: black;
                font-size: calc(1rem + 0.2vw);
                min-width: 6rem;
                display: inline-block;
                white-space: nowrap;
                &:hover {
                    background-color: transparent;
                    color: #0b5479;
                    color: white;
                }
            }
        }
    }
}

@include responsive("small") {
    #signup {
        width: 90%;
        margin: $mg-3 auto;
        padding: $pd-1 $pd-3;
        h1 {
            font-size: calc(2rem + 1vw);
        }
        .signup__form {
            font-size: calc(1rem + 0.4vw);
            .signup__form--input {
                input {
                    padding: 0.4rem $pd-2;
                    font-size: calc(1rem + 0.6vw);
                    color: black;
                }
            }
        }
    }
}
