#user {
    .user {
        margin: 6rem auto;
        flex-wrap: nowrap;
        .user__menu {
            max-width: 23%;
            background-color: $color-white-0;
            border-radius: 10px;
            margin-right: $mg-0;
            .user__menu--header {
                display: flex;
                align-items: center;
                .user__menu--header--avatar {
                    border-radius: 100%;
                    width: 5rem;
                    height: 5rem;
                    border: 1px solid $color-gray-2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 $mg-1;
                }
                .user__menu--header--info {
                    font-size: $fs-0;
                    font-weight: normal;
                    margin-top: $mg-2;
                    line-height: 0.5;
                    p:first-child {
                        font-weight: $fw-bold-1;
                    }
                    p:last-child {
                        font-size: ($fs-1 - 2);
                    }
                }
            }
            .user__menu--body {
                display: flex;
                flex-direction: column;
                .item {
                    height: 5rem;
                    padding: 1rem 1.5rem;
                    background-color: $color-gray-3;
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                }
                .active {
                    height: 50px;
                    padding: 1rem 1.5rem;
                    background-color: $color-purple-2;
                    color: $color-blue-4;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .user__content {
            margin-left: 5px;
            background-color: $color-gray-2;
            border-radius: 10px;
            display: flex;
            align-items: center;
            position: relative;
            .user__profile {
                form {
                    margin: $mg-2 auto;
                    .form-group {
                        min-width: 450px;
                        .form-control {
                            height: 40px;
                            font-size: $fs-1;
                        }
                    }
                }
                .user__profile--formAction {
                    display: flex;
                    justify-content: flex-end;
                    margin: 15px auto;
                    button {
                        padding: $pd-1 $pd-2;
                        font-size: $fs-0;
                        transition: all 0.5s;
                        &:hover {
                            // transform: scale(1.1);
                            cursor: pointer;
                            color: black;
                            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                        }
                    }
                }
            }
            table {
                margin: $mg-2 $mg-3;
                border-collapse: collapse;
                width: 100%;
                thead,
                tbody {
                    tr {
                        td {
                            border: 1px solid $color-gray-3;
                            text-align: left;
                            padding: $pd-1 $pd-2;
                        }
                    }
                }
            }
        }
    }
}
@include responsive("large") {
    #user {
        .user {
            .user__menu {
                .user__menu--header {
                    display: flex;
                    align-items: center;
                    .user__menu--header--avatar {
                        border-radius: 100%;
                        width: 3rem;
                        height: 3rem;
                        margin: 0 $mg-1;
                    }
                    .user__menu--header--info {
                        font-size: $fs-1;
                        font-weight: normal;
                        margin-top: $mg-2;
                        margin-left: $mg-0;
                    }
                }
            }
        }
    }
}

@include responsive("medium") {
    #user {
        .user {
            .user__menu {
                max-width: 95%;
                margin: $mg-1 auto;
                min-width: 395px;
                .user__menu--header {
                    font-size: calc(1rem + 0.64vw);
                }
                .user__menu--body {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding-bottom: $mg-2;
                }
            }
            .user__content {
                max-width: 95%;
                margin: 0 auto;
                min-width: 395px;
                .user__profile {
                    form {
                        .form-group {
                            // min-width: 90vw;
                            .form-control {
                                height: 30px;
                                font-size: calc(1rem + 0.64vw);
                            }
                        }
                    }
                    .user__profile--formAction {
                        display: flex;
                        justify-content: center;
                        margin: $mg-2 auto;
                        button {
                            padding: $pd-1 $pd-2;
                            font-size: $fs-1;
                            transition: all 0.5s;
                            &:hover {
                                // transform: scale(none);
                                background-color: red;
                                color: black;
                                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                            }
                        }
                    }
                }
                table {
                    margin: $mg-2 0rem;
                    max-width: 90vw;
                }
            }
        }
    }
}

@include responsive("small") {
    #user {
        .user {
            .user__content {
                .user__profile {
                    form {
                        .form-group {
                            min-width: 90vw;
                        }
                    }
                }
            }
        }
    }
}
