<div class="courses">
    <h2 style="text-align: center;">Tất cả các khóa học.</h2>
    <h3 class="users__add"> <a routerLink="/admin/courses/add-course">Thêm Khóa học</a> </h3>
    <div *ngIf="dataSource">
        <mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

            <!-- Name Column -->
            <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef> STT</th>
                <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="MaKhoaHoc">
                <th mat-header-cell *matHeaderCellDef> Mã khóa học </th>
                <td mat-cell *matCellDef="let row"> {{row.maKhoaHoc}} </td>
            </ng-container>
            <ng-container matColumnDef="TenKhoaHoc">
                <th mat-header-cell *matHeaderCellDef>Tên khóa học </th>
                <td mat-cell *matCellDef="let row"> {{row.tenKhoaHoc}} </td>
            </ng-container>
            <ng-container matColumnDef="HinhAnh">
                <th mat-header-cell *matHeaderCellDef>Hình ảnh </th>
                <td mat-cell *matCellDef="let row"> {{row.hinhAnh}} </td>
            </ng-container>
            <ng-container matColumnDef="LuotXem">
                <th mat-header-cell *matHeaderCellDef>Lượt xem</th>
                <td mat-cell *matCellDef="let row"> {{row.luotXem}} </td>
            </ng-container>
            <ng-container matColumnDef="NguoiTao">
                <th mat-header-cell *matHeaderCellDef>Người tạo</th>
                <td mat-cell *matCellDef="let row"> {{row.nguoiTao.hoTen}} </td>
            </ng-container>
            <ng-container matColumnDef="ThaoTac">
                <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="primary" class="mr-1 p-0">Ghi danh</button>
                    <button mat-raised-button color="warn" class="mr-1 p-0"
                        (click)="deleteCourse(this.row.maKhoaHoc)">Xoa</button>
                    <button mat-raised-button color="accent" class="mr-1 p-0"
                        (click)="modifyCourse(this.row)">Sửa</button>
                </td>
            </ng-container>
        </mat-table>
        <!-- <mat-paginator [length]="dataSource.totalCount" [pageSize]="dataSource.count"
            [pageSizeOptions]="[5, 10, 20, 30, 100]" (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons>
        </mat-paginator> -->
    </div>
</div>