<app-divider>Quản lý khóa học</app-divider>
<div class="courses">
    <div class class="courses__function">
        <div class="courses__function--title">
            <a routerLink="/admin/courses/add-course">
                <span class="material-icons">
                    note_add
                </span>
            </a>
            <span class="courses__function--title--hover">
                Thêm khóa học
            </span>
        </div>
        <div class="courses__function--searchBox">
            <input (keyup)="applyFilter($any($event.target).value)" placeholder="Tìm kiếm khóa học"
                class="search-text">
            <a href="#" class="search-btn"><i class="fa fa-search"></i></a>
        </div>

    </div>

    <div *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

            <!-- Name Column -->
            <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef> STT</th>
                <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="MaKhoaHoc">
                <th mat-header-cell *matHeaderCellDef> Mã khóa học </th>
                <td mat-cell *matCellDef="let row"> {{row.maKhoaHoc}} </td>
            </ng-container>
            <ng-container matColumnDef="TenKhoaHoc">
                <th mat-header-cell *matHeaderCellDef>Tên khóa học </th>
                <td mat-cell *matCellDef="let row"> {{row.tenKhoaHoc}} </td>
            </ng-container>
            <ng-container matColumnDef="HinhAnh">
                <th mat-header-cell *matHeaderCellDef>Hình ảnh </th>
                <td mat-cell *matCellDef="let row"> {{row.hinhAnh}} </td>
            </ng-container>
            <ng-container matColumnDef="LuotXem">
                <th mat-header-cell *matHeaderCellDef>Lượt xem</th>
                <td mat-cell *matCellDef="let row"> {{row.luotXem}} </td>
            </ng-container>
            <ng-container matColumnDef="NguoiTao">
                <th mat-header-cell *matHeaderCellDef>Người tạo</th>
                <td mat-cell *matCellDef="let row"> {{row.nguoiTao.hoTen}} </td>
            </ng-container>
            <ng-container matColumnDef="ThaoTac">
                <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                <td mat-cell *matCellDef="let row">
                    <!-- <button mat-raised-button color="primary" class="mr-1 p-0"
                        (click)="openDialog(this.row.maKhoaHoc)">Ghi danh</button> -->
                    <!-- <button mat-raised-button color="warn" class="mr-1 p-0"
                        (click)="deleteCourse(this.row.maKhoaHoc)">Xoa</button> -->
                    <!-- <button mat-raised-button color="accent" class="mr-1 p-0"
                        (click)="modifyCourse(this.row)">Sửa</button> -->
                    <button class="actions__btn mr-2 p-3 btn btn-primary" (click)="openDialog(this.row.maKhoaHoc)"><i
                            class="fas fa-edit"></i>
                        <span class="actions__mes2">Ghi danh</span>
                    </button>
                    <button class="actions__btn mr-2 p-3 btn btn-success" (click)="modifyCourse(this.row)"><i
                            class="fa fa-user-edit"></i><span class="actions__mes3">Chỉnh sửa</span></button>
                    <button class="actions__btn mr-2 p-3 btn btn-danger" (click)="deleteCourse(this.row.maKhoaHoc)"><i
                            class="fa fa-trash-alt"></i><span class="actions__mes4">Xóa</span></button>
                </td>
            </ng-container>
        </table>
        <!-- <mat-paginator [length]="dataSource.totalCount" [pageSize]="dataSource.count"
            [pageSizeOptions]="[5, 10, 20, 30, 100]" (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons>
        </mat-paginator> -->
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40, 60, 100]">
        </mat-paginator>
    </div>
</div>