<app-header></app-header>
<section class="admin" id="admin">
    <div class="admin container-fluid">
        <div class="admin__body row">
            <div class="admin__body--menu col-12 col-md-2 d-flex">
                <ul class="row">
                    <li class="col-6 col-md-12" routerLinkActive="active" routerLink="/admin/courses">Quản lý khóa
                        học
                    </li>
                    <li class="col-6 col-md-12" routerLinkActive="active" routerLink="/admin/users">Quản lý người
                        dùng
                    </li>
                </ul>
            </div>
            <div class="admin__body--contents col-12 col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</section>