.admin {
    .dashboard {
        .dashboard__header {
            min-height: 70px;
            .dashboard__header--logo {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-transform: uppercase;
                font-size: 3rem;
                font-weight: 700;
                // border: 1px solid red;
                p {
                    transform: rotate(-10deg);
                }
            }
            .dashboard__header--info {
                background-color: blue;
                .input {
                    .form-control {
                        padding: 1rem;
                        border: none;
                        border-radius: 0;
                        font-size: 2rem;
                        &::placeholder {
                            color: #a1a7b3;
                            font-size: 2rem;
                            font-weight: normal;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .input-group-append {
                        width: 50px;
                        font-size: 2rem;
                        .input-group-text {
                            background-color: white;
                            color: #ec5252;
                            border: none;
                            padding: 2rem;
                            i.fa-search {
                                font-size: 1.5rem;
                            }
                        }
                        &:hover {
                            .input-group-text {
                                background-color: #ec5252;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .dashboard__body {
            .dashboard__body--menu {
                // border: 1px solid red;
                color: white;
                li {
                    cursor: pointer;
                    margin: 2rem 0;
                }
            }
            .dashboard__body--contents {
                // border: 1px solid red;
            }
        }
    }
}
