.ghiDanhKhoaHocByCourse {
    width: 80vw;
    height: 70%;
    .ghiDanhKhoaHocByCourse__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ghiDanhKhoaHocByCourse__content--users {
        mat-form-field {
            width: 88%;
        }
        button {
            margin-left: 2.5rem;
        }
    }
    .NguoiDungChoXacThuc,
    .NguoiDungDaGhiDanh {
        .mat-table {
            width: 88%;
        }
    }
}
