table {
    margin: 1.5rem 2rem;
    border-collapse: collapse;
    width: 100%;
    thead,
    tbody {
        tr {
            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 1rem 1.5rem;
            }
        }
    }
}
