<mat-toolbar color="primary" class="admin__header">
    <mat-toolbar-row>
        <span>
            <a href="#"><img src="../../../assets/img/index.png" style="width: 50px" alt=""></a>
            Admin Center
        </span>
        <span class="example-spacer"></span>
        <span>
            <a>Dashboard</a>
        </span>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="user__icon">
            <span><i class="fa fa-user-tie"></i></span>
        </button>
        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button> -->
            <button mat-menu-item>
                <span><i class="fa fa-user-cog"></i></span>
                <span>Cập nhật thông tin</span>
            </button>
            <button mat-menu-item (click)="dangXuat()">
                <span><i class="fa fa-sign-out-alt"></i></span>
                <span>Đăng xuất</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>