<mat-toolbar color="primary" class="admin__header">
    <mat-toolbar-row>
        <span>
            <a href="#"><img src="../../../assets/img/index.png" style="width: 50px" alt=""></a>
            Trung tâm quản lý
        </span>
        <span class="admin__header--spacer"></span>
        <span>
            <a>Bảng điểu khiển</a>
        </span>
        <span class="admin__header--spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="user__icon">
            <span><i class="fa fa-user-tie"></i></span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span><i class="fa fa-user-cog mr-3"></i></span>
                <span>Cập nhật thông tin</span>
            </button>
            <button mat-menu-item (click)="dangXuat()">
                <span><i class="fa fa-sign-out-alt mr-3"></i></span>
                <span>Đăng xuất</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>