.addEditCourse {
    color: black;

    background-color: white;
    .addEditCourse__title {
        margin: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addEditCourse__form {
        width: 90%;
        margin: 1.5rem auto;
        display: flex;
        flex-wrap: wrap;
        p {
            margin: 1rem 1.5rem;
            min-width: 30%;

            mat-form-field {
                width: 100%;
            }
        }
        .addEditCourse__form--img {
            display: block;
            width: 97%;
        }
        p.addEditCourse__form--textarea {
            display: block;
            width: 96%;
            margin-top: 1rem;
            mat-form-field {
                textarea {
                    height: 10rem;
                }
            }
        }
    }
}
