<app-divider>Thông tin học viên</app-divider>
<div class="user container">
    <div class="row">
        <div class="user__menu col-3">
            <div class="user__menu--header">
                <div class="user__menu--header--avatar">
                    <i class="fa fa-user-tie"></i>
                </div>
                <div class="user__menu--header--info">
                    <p>{{user.hoTen}}</p>
                    <p> {{user.maLoaiNguoiDung === 'HV' ? 'Học viên' : 'Giáo viên'}}</p>
                </div>
            </div>
            <hr>
            <div class="user__menu--body">
                <ng-content></ng-content>
            </div>
        </div>
        <div class="user__content col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>