// variable color
$color-black-0: #1e1e2a; // default
$color-black-1: black;
$color-black-2: #222222;
$color-white-0: #fff; //default
$color-white-1: #f5f5f5;
$color-red-0: #f13030;
$color-red-1: #ec5252;
$color-purple-0: #a16565;
$color-purple-1: #fa8072;
$color-purple-2: #e97676;
$color-gray-1: #fff5ee;
$color-gray-2: #a1a7b3;
$color-gray-3: #d8d3d3;
$color-gray-light: rgba(230, 230, 230, 0.6);
$color-yellow: #f4c150;
$color-yellow-1: #925a07;
$color-yellow-2: #ffff00;
$color-yellow-3: #fed970;
$color-yellow-4: #febc4a;
$color-yellow-5: #fec95b;
$color-yellow-6: #ce922e;
$color-yellow-7: #dca03b;
$color-yellow-8: #fee395;
$color-blue-0: #60b4df;
$color-blue-1: #69bde7;
$color-blue-2: #28769c;
$color-blue-3: #3489bd;
$color-blue-4: #1e55fa80;
$color-blue-5: #50abf1;
$color-green-0: #2ecc71;
$color-green-1: #0e522a;
$color-trans: transparent;

// variable font-size
$fs-0: 16px; //default
$fs-1: 14px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 30px;
$fs-5: 40px;

//variable margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;

//variable line-height
$line-height-0: 1.43; //default
$line-height-0: 5; //default

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 500;
$fw-bold-1: 600;
$fw-bold-2: 700;
$fw-bold: bold;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
);
