<footer class="footer" id="footer">
    <div class="footer__top row">
        <div class="footer__left col-12 col-md-4">
            <h3 class="footer__left--title">
                NHẬN TIN SỰ KIỆN &amp; KHUYẾN MÃI
            </h3>
            <p class="footer__left--desc">
                CyberSoft sẽ gởi các khóa học trực tuyến &amp; các chương trình
                CyberLive hoàn toàn MIỄN PHÍ và các chương trình KHUYẾN MÃI hấp dẫn
                đến các bạn.
            </p>
            <form [formGroup]="subscribeForm">
                <div class="input-group mb-3">
                    <input type="email" class="field" placeholder="Email của bạn" formControlName="email" />
                    <button (click)="subscribed(subscribeForm)" [disabled]="subscribeForm.invalid"
                        class="btn btn-subscribe" type="submit">
                        đăng ký
                    </button>
                </div>
            </form>
        </div>
        <div class="footer__mid col-12 col-md-4">
            <form [formGroup]="contactForm" class="contact-box">
                <h2>Liên hệ</h2>
                <input type="text" formControlName="hoTen" class="field" placeholder="Tên của bạn" />
                <input type="email" formControlName="email" class="field" placeholder="Email của bạn" />
                <input type="text" formControlName="soDT" class="field" placeholder="Số điện thoại của bạn" />
                <textarea formControlName="message" class="field area" placeholder="Tin nhắn"></textarea>
                <button (click)="contactUs()" [disabled]="contactForm.invalid" class="btn btn-contact" type="submit">
                    gửi
                </button>
            </form>
        </div>
        <div class="footer__right col-12 col-md-4">
            <div class="iframe">
                <iframe class="iframe__fb"
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvoaeasy%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="500" height="340" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </div>
    <div class="footer__bottom row">
        <div class="footer__bottom--right col-12 col-md-4">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker"></i>
                        Trụ sở: 112 Cao Thắng, Quận 3 – HCM
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker"></i>
                        Cơ sở 2: 376 Võ Văn Tần – Quận 3
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker"></i>
                        Cơ sở 3: 459 Sư Vạn Hạnh – Quận 10
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker"></i>
                        Cơ sở 4: 82 Ung Văn Khiêm – Bình Thạnh
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker"></i>
                        Cơ sở 6: 56 Lê Cảnh Tuân – Tân Phú
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-phone"></i>
                        Hotline: 096.105.1014 – 077.886.1911
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__bottom--mid col-12 col-md-4">
            <p>
                <a href="#">Đây là link ví dụ</a>
                <a href="#">Đây là link ví dụ</a>
                <a href="#">Đây là link ví dụ</a>
                <a href="#">Đây là link ví dụ</a>
                <a href="#">Đây là link ví dụ</a>
                <a href="#">Đây là link ví dụ</a>
                <a href="#">Đây là link ví dụ</a>
                <a href="#">Đây là link ví dụ</a>
            </p>
        </div>
        <div class="footer__bottom--left col-12 col-md-4"></div>
    </div>
    <div class="footer__copyright row">
        <div class="footer__copyright--brand col-12 col-md-7">
            © Bản quyền CyberSoft 2017 - 2019
        </div>
        <div class="footer__copyright--social col-12 col-md-5">
            GET SOCIAL
            <span>
                <i class="fab fa-twitter"></i>
            </span>
            <span>
                <i class="fab fa-facebook"></i>
            </span>
        </div>
    </div>
</footer>